.new-article {
  width: 938px;
  background: white;
  padding: 48px 32px;
  font-family: Roboto, sans-serif;
  margin: 59px auto auto auto;
  box-shadow: 0 0 10px 0 #c3c3c5;
  border-radius: 5px;
  text-align: left;

  h2 {
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 21px;
    font-weight: 500;
  }

  .error {
    color: red;
    font-size: 12px;

    &.tags {
      position: relative;
      bottom: 50px;
    }
  }

  label {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
    line-height: 22px;

    textarea {
      font-family: inherit;
      display: block;
      width: 874px;
      height: 168px;
      resize: none;
      margin-bottom: 12px;
      border: 1px solid #D9D9D9;
      border-radius: 5px;
      padding: 10px 10px;

      &::placeholder {
        color: #D9D9D9;
        font-size: 16px;
      }
    }
  }


  .input-error {
    border-color: red;
  }

  input {
    width: 874px;
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 0 10px;

    &::placeholder {
      color: #D9D9D9;
      font-size: 16px;
    }

    &[type="submit"] {
      align-items: start;
      background-color: #1890FF;
      width: 319px;
      color: white;
      font-size: 16px;
      border: none;
    }


  }


  fieldset {
    border: none;
    margin: 0;
    padding: 0;

    button {
      width: 120px;
      height: 40px;
      background: white;
      border: 1px solid;
      border-radius: 5px;
      margin-left: 17px;


      &.delete {
        color: #F5222D;
        border-color:  #F5222D;
      }
    }

    .add-tag {
      color: #1890FF;
      border-color:  #1890FF;
      margin: 10px;

      &.add-last {
        position: relative;
        bottom: 47px;
        left: 435px;
        margin: 0 0 0 10px;
      }
    }

    legend {
      text-align: left;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .tag {
      display: block;

      input {
        width: 300px;
      }



    }
  }


}