.header {
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
  display: flex;
  font-size: 18px;

  span {
    display: inline-block;
    margin: 9px 0 15px 22px;
    line-height: 56px;
  }


  ul {
    list-style: none;
    display: inline-block;
    margin: 16px 22px 13px auto;

    li {
      display: inline-block;
      width: 109px;
      height: 51px;
      line-height: 51px;

      .link {
        font-family: 'Inter', sans-serif;

      }
    }

    .link-active {
      border: 1px solid #52C41A;
      border-radius: 5px;
      color: #52C41A;
    }
  }


}